@page
@model ProjectTracker.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./ProjectItems" asp-route-id="@item.Id">Project Items</a> |
                    <a asp-page="./Persons" asp-route-id="@item.Id">Persons</a> |
                    <form method="post">
                        <button asp-page-handler="Delete" asp-route-id="@item.Id" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>New Project</h2>

<form method="post" class="form">
    <div class="form-group">
        <label asp-for="@Model.Project.Name" class="form-label"></label>
        <input asp-for="@Model.Project.Name" class="form-control" />
        <p><span asp-validation-for="@Model.Project.Name" class="text-danger"></span></p>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Project.Description" class="form-label"></label>
        <input asp-for="@Model.Project.Description" class="form-control" />
        <p><span asp-validation-for="@Model.Project.Description" class="text-danger"></span></p>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
