@page
@model ProjectTracker.Pages.PersonDetailsModel
@{
}

@{
    ViewData["Title"] = "Person Details";
}

<h1>Person Details</h1>

<div>
    <h4>@Model.Person.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ProjectItems)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in @Model.Person.ProjectItems)
            {
                @Html.DisplayFor(modelItem => item.Name)
                if (item != @Model.Person.ProjectItems.Last())
                {
                    @Html.Raw(", ")
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" role="button" asp-page="./Persons" >Back</a>
</div>
