@page
@model ProjectTracker.Pages.ProjectDetailsModel
@{
}

@{
    ViewData["Title"] = "Project Details";
}

<h1>@Model.project.Name</h1>


<dl class="row">
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.project.Description)
    </dd>
</dl>
<table class="table">
    <thead>
        <tr>
            <th>
                Task
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].Persons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectItems)
        {
            <tr>
                <td>
                    <a href="/ProjectItemDetails?id=@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @foreach (var person in item.Persons)
                    {
                        @Html.DisplayFor(modelItem => person.Name)
                        if (person != item.Persons.Last())
                        {
                            @Html.Raw(", ")
                        }
                    }
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" asp-for="ProjectId" />
                        <button class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@item.Id" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" role="button" asp-page="./CreateProjectItem" asp-route-id="@Model.ProjectId">Add Task</a>
<a class="btn btn-warning" role="button" asp-page="./Index" >Back</a>

