@page
@model ProjectTracker.Pages.ProjectDetailsModel
@{
}

@*<h1>@Model.project.Name</h1>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].Importance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].TimeToComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectItems[0].Persons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeToComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persons)
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.Id">Project</a> |
                    <a asp-page="./Persons" asp-route-id="@item.Id">Persons</a> |
                    <form method="post">
                        <button asp-page-handler="Delete" asp-route-id="@item.Id" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

