@page
@model ProjectTracker.Pages.ProjectItemDetailsModel
@{
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.Importance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectItem.Importance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.Completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectItem.Completed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectItem.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectItem.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.TimeToComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectItem.TimeToComplete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectItem.Persons)
        </dt>
        <dd class="col-sm-10">
            @foreach (var person in @Model.ProjectItem.Persons)
            {
                @Html.DisplayFor(modelItem => person.Name)
                if (person != @Model.ProjectItem.Persons.Last())
                {
                    @Html.Raw(", ")
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" role="button" asp-page="./ProjectDetails" asp-route-id="@Model.ProjectItem.Project?.Id">Back</a>
</div>

